{% extends 'base.html.twig' %}

{% block meta %}
    <meta name=“robots“ content=“noindex,follow“ />
{% endblock %}

{% block content %}
    <div class="sm:flex sm:gap-8">
        <div class="sm:w-3/4 md:flex md:gap-8">
            <div class="md:grow">
                <p class="text-lg font-medium">Vielen Dank für deine Nachricht!</p>
                <p class="mt-4">Deine Nachricht wurde erfolgreich versendet. Ich melde mich zeitnah bei dir!</p>
            </div>
            <div class="mt-4 md:mt-0">
                <img alt="Meme „Ha ha, yes“ (Igel zeigt „OK“-Zeichen)" class="w-32" src="{{ asset('images/haha-yes.jpg') }}" />
            </div>
        </div>
        <div class="mt-4 sm:mt-0 sm:pl-8 sm:w-1/4 sm:border-l sm:border-gray-300">
            <p>Und falls du lieber eine Postkarte schickst, meine Adresse lautet:</p>
            <p class="mt-4 font-medium">
                Marcel Kraus<br/>
                Bonner Str. 88<br/>
                50374 Erftstadt
            </p>
        </div>
    </div>
{% endblock %}