{% extends 'base.html.twig' %}

{% block content %}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8 justify-stretch text-white">
        <a class="p-8 rounded-xl bg-teal-500" href="https://krausgebaut.de" title="Besuche krausgebaut und lerne mein Angebot im Bereich der Softwareentwicklung kennen…">
            <div class="text-2xl font-medium">krausgebaut</div>
            <div class="mt-8">Professionelle Entwicklung von Software, ob in der App oder im Web – seit 2002 mein Kerngeschäft.</div>
        </a>
        <a class="p-8 rounded-xl bg-orange-500" href="https://krausgedruckt.de" title="Besuche krausgedruckt und lerne mein Angebot im Bereich des 3D-Drucks kennen…">
            <div class="text-2xl font-medium">krausgedruckt</div>
            <div class="mt-8">Seit Ende 2023 unterstütze ich dich mit 3D-Druck-Dienstleistungen – kompetent, zeitnah und bezahlbar.</div>
        </a>
        <a class="p-8 rounded-xl bg-red-500" href="https://www.jurassicjeep.de" title="Besuche Jurassic Jeep und lerne meinen Jeep Wrangler aus „Jurassic Park“ kennen…">
            <div class="text-2xl font-medium">Jurassic Jeep</div>
            <div class="mt-8">Seit 2021 biete ich meinen Jeep Wranger aus „Jurassic Park“ für besondere Events an.</div>
        </a>
    </div>
{% endblock %}