<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/output.css">
        <title>{% block title %}Marcel Kraus: Dein Software-Entwickler aus Erftstadt bei Köln{% endblock %}</title>
    </head>
    <body>
        <main class="mx-auto max-w-7xl m-8 sm:m-16">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>